$font_family_text: Roboto, sans-serif;
$font_family_heading: Alegreya, serif;

$dark_blue: #2B3A42;
$medium_blue: #3F5765;
$light_blue: #BDD4DE;
$light_grey: #EFEFEF;
$light_orange: #FF530D;
$yellow: #ffc600;
