@import "fonts";
@import "variables";
@import "base";
@import "./components/_section.scss";
@import "./components/_header.scss";
@import "./components/_blog-posts.scss";
@import "./components/_about.scss";
@import "./components/_instagram.scss";
@import "./components/_footer.scss";
@import "./components/_nav.scss";
@import "./components/_post.scss";
@import "./components/_player.scss";

.main {
  border-top: 1px solid #eee;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: #FFF;
}
html {
  background-color: #F6F9FC;
}
